<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>


    <h1>Sobre el equipo CODER GRUPO D</h1>
    <H3> </H3>
    <h4> NUESTRO PROYECTO: El proyecto “Sistema de Practica de Pacientes CODER” pretende cumplir con las instancias finales de la entrega del curso Phyton en CODERHOUSE. El mismo se utilizó como lenguaje de programación del backend del sistema, por ser un lenguaje interpretado, no compilado, de tipado dinámico, fuertemente tipado y multiplataforma. Además se utilizó como frontend el framework Django de desarrollo web y de código abierto escrito en Python. Por último, como sistema de base de datos se utilizó SQLite.</h4>
    <H3> </H3>
    <h4> INTEGRANTES: ++ Romina González ++ Sebastián Di Pierro</h4>
    <h4> Mi nombre es: Romina Gonzalez: trabajo como administrador de Storage para IBM. Me gustaría seguir capacitandome en programación para la automatización de procesos, para hacerle a mis compañeros la vida un poco más fácil y seguir progresando en mi trabajo diario, el cual me encanta. </h4>
    <h4> Mi nombre es: Sebastián Di Pierro: soy Analista Universitario en Sistemas de Computación y trabajo en Informática en Salud en el Municipio de Mar del Plata. Estudio quinto año de la carrera de Licenciatura en sistemas en la universidad Siglo XXI y quisiera continuar con la capacitación en programación, capacitándome, esforzándome en la temática de este tipo de cursos.</h4>

    <button><a href="{% url 'Inicio' %}"> Volver a inicio</a></button>
    
</body>
</html>