{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Registro de Médicos</h1>
    
    {% if miFormulario.errors %}

    <p style="color: rgb(255, 0, 13);"> Corroborar los datos ingresador nuevamente</p>

    {% endif %}


    <form action="{% url 'AgregaMedico'%}" method="POST">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table>

            {{ miFormulario.as_table }}


        </table>

        <h3> </h3>
        <input type="submit", value="Confirmar ALTA médico">

    </form>

    {% endblock %}