
{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Registro de Prácticas</h1>
    
    {% if miFormulario.errors %}

    <p style="color: rgb(0, 255, 128);"> Corroborar los datos ingresador nuevamente</p>

    {% endif %}


    <form action="" method="POST">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table>

            {{ miFormulario.as_table }}


        </table>

        <h3> </h3>
        <input type="submit", value="Confirmar ALTA práctica">

    </form>

    {% endblock %}